@charset "utf-8";
/* CSS Document */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

.cursive {
font-family: 'Pacifico', cursive;
}

nav ul {
	display: inline-block;
}

.txt-white {
	color: #fff;
}

.txt-thin {
	font-weight: 200;
}

.bg-darkgrn {
	background-color: #10443f;
}

.bg-midgrn {
	background-color: #104f41;
}

.txt-green {
	color: #0fdc95;
}